<h1>Burgers!</h1>

<h2>Eat Some...</h2>
<img class="burger" src="/assets/img/burger.png" alt="burger image">

<ol class="noteaten">
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ol>


<ol class="eaten">
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ol>

<div class="create-forms">
<h3>Make a Burger</h3>
<form class="create-form" name="burgerForm">

  <div class="form-group">
    <label for="bg">Burger Name:</label>
    <input type="text" id="bg" name="burger_name">
  </div>

  <button class="submit" type="submit">ADD BURGER</button>
</form>
</div>