<h1>Burgers!</h1>

<h2>Eat Some...</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>


<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<div class="create-forms">
<h3>Add a Burger</h3>
<form class="create-form" name="burgerForm">

  <div class="form-group">
    <label for="bg">Burger Name:</label>
    <input type="text" id="bg" name="burger_name">
  </div>

  <button class="submit" type="submit">ADD BURGER</button>
</form>
</div>