/* font-family: 'Satisfy', cursive;
font-family: 'Concert One', cursive;
font-family: 'Ravi Prakash', cursive; */
body{
    background-color: #FFF95F;
    color: black;
    font-family: 'Ravi Prakash', cursive;
    font-size: 16pt;
}
h1{
    font-size: 58pt;
    top: 0;
}
h2{
    color: #EF0009;
    font-family: 'Satisfy', cursive;
    font-size: 30pt;
}
h1, h2, .create-forms{
    display: block;
    width: 50%;
    margin: 20px auto;
    text-align: center;
}
ul, ol{
    padding: 0;
}
.change-devour, .submit{
    margin: 20px 0 0 20px;
    border-radius: 25px;
    font-weight: bold;
    font-family: 'Concert One', cursive;
    font-size: 12pt;
}
.noteaten{
    position: relative;
    margin-left: 10%;
}
.eaten, .change-devour:active::after{
    position: relative;
    margin-left: 70%;
}
.burger{
    display: block;
    position: relative;
    margin: auto ;
    top: 50px;
}
[data-newdevour="false"]{
    display: none;
}